<h1>Create your profile by filling in the details below</h1>
<%= form_with model: @profile do |form| %>
    <div>
        <%= form.label :bio %>
        <%= form.text_area :bio %>
    </div>
    <div>
        <%= form.label :website %>
        <%= form.text_field :website %>
    </div>
    <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>
    <div>
        <p>Profile Photo: <%= form.file_field :profile_photo %></p>
    </div>
    <div>
        <p>Cover Photo: <%= form.file_field :cover_photo %></p>
    </div>
    <div>
        <%= form.submit  "Create Profile" %>
    </div>
<% end %>