<header>
    <div>
        <div>
            <% if current_user != @profile_owner %>
                <% if current_user.following?(@profile_owner)%>
                    <% relationship = current_user.relationship_with(@profile_owner)%>
                    <%= button_to "Unfollow User", destroy_relationship_path, method: :delete, params: {id: relationship.id, followed_id: @profile_owner.id} %>
                <% else %>
                    <%= button_to "Follow User", create_relationship_path, method: :post, params: {followed_id: @profile_owner.id} %>
                <% end %>
            <% end %>
        </div>

        <h1><%= @profile.user.username %></h1>
        <div>
            <div><%=@profile.user.followers.count%><p> <%= link_to "Followers",followers_user_path(@profile.user), method: :get %></p></div>
            <div><%=@profile.user.following.count%><p> <%= link_to "Following", following_user_path(@profile.user), method: :get %></p></div>
        </div>
        <div>
            <div>
            <p>Profile Photo:</p>
            <% if @profile.profile_photo.attached? %>
                <%= image_tag(@profile.profile_photo) %>
            <% end %>
            </div>
            <div>
            <p>Cover Photo:</p>
            <% if @profile.cover_photo.attached? %>
                <%= image_tag(@profile.cover_photo) %>
            <% end %>
            </div>
        </div>
        <div>
            <p>Bio:<%= @profile.bio %></p>
        </div>
        <div>
            <p>Location:<%= @profile.location %></p>
        </div>
        <div>
            <p>Website:<%= @profile.website %></p>
        </div>
    </div>
</header>
<body>
    <h2>Tweets</h2>
    <div>
        <% @profile.user.tweets.each do |tweet| %>
            <div>
            <%= tweet.body %>
            <%= link_to "View tweet", tweet_path(tweet)%>
            </div>
        <% end %>
        <%= link_to "Create new tweet", new_tweet_path %>
    </div> 
    <h3>Retweets</h3>
    <% if @profile.user.id == current_user.id %>
        <% if current_user.retweets.any?%>
            <div>
                <% current_user.retweets.each do |retweet| %>
                    <p>You Retweeted</p>
                    <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500")%>
                    <%= retweet.tweet.user.username %>
                    <%= retweet.tweet.body%>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <% if @profile.user.retweets.any? %>
            <div>
                <% @profile.user.retweets.each do |retweet| %>
                    <p><%= @profile.user.username %> Retweeted</p>
                    <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500")%>
                    <%= retweet.tweet.user.username %>
                    <%= retweet.tweet.body%>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <h3>Qoute tweets</h3>
    <% if @profile.user.quotes.any? %>
        <% @profile.user.quotes.each do |quote| %>
            <b><em><%= quote.user.username %></em></b>
            <b><em><%= quote.body %></em></b>
            <div>
                <%= quote.tweet.user.username %>
                <%= quote.tweet.body%>
                <% if quote.likes.any? %>
                    <div>
                        <p><%= quote.likes.count%> Likes</p>
                    </div>
                <% else %>
                    <%= button_to "Like Quote", new_like_path(quote), method: :post %>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <% if user_signed_in? %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <% end %>
</body>
