<div class="h-screen h-dvh bg-gray-900 text-white font-sans">
  <h2 class="text-center">Sign up</h2>
  <div class=" flex flex-col place-items-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "rounded-md"  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-md"  %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "rounded-md"  %>
      </div>
  
      <div class="actions">
        <%= f.submit "Sign up", class: "border border-blue-900 rounded-md w-full bg-indigo-900 hover:bg-indigo-500 mt-3" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
<div>
