<p>Partial for showing content of a retweet</p>
<div>
    <div>
        <% if @user.id == current_user.id %>
            <p>You Retweeted</p>
            <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500")%>
            <% current_user.retweets.each do |retweet| %>
                <%= retweet.tweet.user.name %>
                <%= retweet.tweet.user.body %>
                <% if retweet.likes.any? %>
                    <div>
                        <p><%= retweet.likes.count %> Likes </p>
                    </div>
                <% else %>
                    <%= button_to "Like Retweet", new_like_path(retweet), method: :post%>
                <% end %>
            <% end %>
        <% else %>
            <%= @user.name %> <p>Retweeted</p>
            <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500")%>
            <% @user.retweets.each do |retweet| %>
                <%= retweet.tweet.user.name %>
                <%= retweet.tweet.user.body %>
                <% if retweet.likes.any? %>
                    <div>
                        <p><%= retweet.likes.count %>likes</p>
                    </div>
                <% else %>
                    <%= button_to "Like Retweet", new_like_path(retweet), method: :post%>
                <% end %>
            <% end %>
        <% end %>
        
    </div>
</div>