<h1>Feed for home</h1>
<div class="flex justify-between">
  <div>Navbar
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png?20220821125553", alt="Twitter Logo", class="w-10 h-7">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      <p>Home</p>
    </div>
    <div class="flex justify-between">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
      </svg>
      <p>Explore</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
      </svg>
      <p>Notifications</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
    </svg>
      <p>Messages</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
    </svg>
      <p>Bookmarks</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      <p>List</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
      <p>Profile</p>
    </div>
    <div class="flex justify-between">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <p>More</p>
    </div>
    <button class="rounded-md border bg-blue-600 px-2 w-full">Tweet</button>
  </div>
  <div>Home Page with Tweets</div>
  <div >Who to follow</div>
</div>
<div>
<% @tweets.each do |tweet| %>
    <div class = "border-t"></div>
    <div class="rounded">
        <b><p>@<%= tweet.user.username %></p></b>
        <%= tweet.body %>
        <%= link_to "Show this tweet", tweet_path(tweet), method: :get, class: "text-blue-500 hover:text-blue-700 hover:underline cursor-pointer" %>
        <%= button_to retweet_tweet_path(tweet), method: :post do %>
            <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500") %>
        <% end %>
        <%= link_to "Quote Tweet", new_quote_tweet_path(tweet), method: :get %>
        <% if tweet.likes.any? %>
            <div>
                <p><%= tweet.likes.count %> Likes</p>
                <%= button_to "Unlike tweet", like_path(tweet.likes.find_by(user_id: current_user.id)), method: :delete %>
            </div>
        <% else %>
            <%= button_to "Like Tweet", likes_path(tweet), params: {like: {likeable_id: tweet.id, likeable_type: tweet.class.name}}, method: :post %>
        <% end %>
        <% if  current_user.bookmarks.exists?(bookmarkable_id: tweet.id ,bookmarkable_type: "Tweet", user_id: current_user.id ) %>
            <%= button_to "Unbookmark", bookmark_path(tweet.bookmarks.find_by(user_id: current_user.id)), method: :delete %>
        <% else %>
            <%= button_to "Bookmark", bookmarks_path(tweet), params: {bookmark: {bookmarkable_type: tweet.class.name, bookmarkable_id: tweet.id}}, method: :post %>
        <% end %>
    </div>
<% end %>
</div>
<div>
    <% if user_signed_in? %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-500 hover:bg-gray-700 text-black font-bold rounded" %>
    <% end %>
</div>
<%= link_to "View User Profiles", profiles_path, method: :get, class: "text-blue-500 hover:text-blue-700 hover:underline cursor-pointer" %>