<h1>Feed for showing  tweets created by all users</h1>
<div>
<% @tweets.each do |tweet| %>
    <div class = "border-t"></div>
    <div class="rounded">
        <b><p>@<%= tweet.user.username %></p></b>
        <%= tweet.body %>
        <%= link_to "Show this tweet", tweet_path(tweet), method: :get, class: "text-blue-500 hover:text-blue-700 hover:underline cursor-pointer" %>
        <%= button_to retweet_tweet_path(tweet), method: :post do %>
            <%= image_tag("retweet-icon.svg", class: "inline-block h-6 w-6 hover:fill-blue-500") %>
        <% end %>
        <%= link_to "Quote Tweet", new_quote_tweet_path(tweet), method: :get %>
        <% if tweet.likes.any? %>
            <div>
                <p><%= tweet.likes.count %> Likes</p>
                <%= button_to "Unlike tweet", like_path(tweet.likes.find_by(user_id: current_user.id)), method: :delete %>
            </div>
        <% else %>
            <%= button_to "Like Tweet", likes_path(tweet), params: {like: {likeable_id: tweet.id, likeable_type: tweet.class.name}}, method: :post %>
        <% end %>
        <% if  current_user.bookmarks.exists?(bookmarkable_id: tweet.id ,bookmarkable_type: tweet.class.name) %>
            <%= button_to "Unbookmark", bookmark_path(tweet.bookmarks.find_by(user_id: current_user.id)), method: :delete %>
        <% else %>
            <%= button_to "Bookmark", bookmarks_path(tweet), params: {bookmark: {bookmarkable_type: tweet.class.name, bookmarkable_id: current_user.id}}%>
        <% end %>
    </div>
<% end %>
</div>
<div>
    <% if user_signed_in? %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-500 hover:bg-gray-700 text-black font-bold rounded" %>
    <% end %>
</div>
<%= link_to "View User Profiles", profiles_path, method: :get, class: "text-blue-500 hover:text-blue-700 hover:underline cursor-pointer" %>