<div>
    <div class="border-t-2 border-b-2">
        <h1>Details of Tweet</h1>
        <p><b><%=@tweet.user.username%></b>@<%=@tweet.user.username%></p>
        <% if @tweet.user.profile.present? && @tweet.user.profile.profile_photo.attached?%>
                <%= button_to do %>
                    <%= image_tag(@tweet.user.profile.profile_photo,class: "w-10 h-10 rounded-full cursor-pointer")%>
                <% end %>
        <% end %>
        <%= @tweet.body %>
        <div class="flex">
                  <div class="flex">
                    <% if current_user.likes.exists?(likeable_id: @tweet, likeable_type: @tweet.class.name)%>
                      <%= button_to like_path(@tweet.likes.find_by(user_id: current_user.id)), method: :delete do %>
                        <button>
                          <svg class="w-5 h-5 rounded-full fill-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                          </svg>
                        </button>
                      <% end %>
                        <p><%= @tweet.likes.count %> Likes</p>
                      <% else %>
                      <%= button_to likes_path(@tweet), params: {like: {likeable_id: @tweet.id, likeable_type: @tweet.class.name}}, method: :post do %>
                        <button>
                          <svg class="w-5 h-5 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                          </svg>
                        </button>
                      <% end %>
                      <p><%= @tweet.likes.count %> Likes </p>
                    <% end %>
                  </div>
                  <div class="flex hover:text-blue-500 cursor-pointer">
                  <%= button_to tweet_path(@tweet), method: :get do %>
                    <button>
                      <svg class="w-5 h-5 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
                      </svg>
                    </button>
                  <% end %>
                  <% if @tweet.comments.any? %>
                    <p><%= @tweet.comments.count%>Comments</p>
                  <% else %>
                    <p>0 Comments</p>
                  <% end %>
                  </div>
                  <div class="flex hover:text-blue-500 cursor-pointer">
                  <%= button_to retweet_tweet_tweet_path(@tweet), method: :post do %>
                    <button>
                      <svg class="w-5 h-5 rounded-full"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
                      </svg>
                    </button>
                  <% end %>
                  <% if @tweet.retweets.any? %>
                    <p><%=@tweet.retweets.count%>Retweets</p>
                  <% else %>
                    <p>0 Retweets</p>
                  <% end %>
                  </div>
                  <div class="flex hover:text-blue-500 cursor-pointer">
                  <% if current_user.bookmarks.exists?(bookmarkable_id: @tweet.id ,bookmarkable_type: "Tweet", user_id: current_user.id)%>
                    <%= button_to bookmark_path(@tweet.bookmarks.find_by(user_id: current_user.id)), method: :delete do %>
                      <button>
                        <svg class="w-5 h-5 rounded-full fill-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                      </button>
                    <% end %>
                    <p><%=@tweet.bookmarks.count%> Bookmarks</p>
                  <% else %>
                     <%= button_to bookmarks_path(@tweet), params: {bookmark: {bookmarkable_type: @tweet.class.name, bookmarkable_id: @tweet.id}}, method: :post do %>
                      <button>
                        <svg class="w-5 h-5 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                      </button>
                    <% end %>
                    <p><%=@tweet.bookmarks.count%> Bookmarks</p>
                  <% end %>
                  </div>
                  <div class="flex hover:text-blue-500 cursor-pointer">
                  <%= button_to new_quote_tweet_path(@tweet), method: :get do %>
                    <button>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                    </button>
                  <% end %>
                  <p>Quote Tweet</p>
                  </div>
                </div>
    </div>
    <h2><b>Details of Comments above tweet</b></h2>
    <div class="border-b-2">
      <% @tweet.comments.each do |comment| %>
        <p class="border-t-2"></p>
        <p><b><%=comment.user.username%></b>@<%=comment.user.username%></p>
        <% if comment.user.profile.present? && comment.user.profile.profile_photo.attached?%>
                <%= button_to do %>
                    <%= image_tag(comment.user.profile.profile_photo,class: "w-10 h-10 rounded-full cursor-pointer")%>
                <% end %>
        <% end %>
        <%= comment.body %>
        <p>Created At: <%= comment.created_at %></p>
        <div class="flex">
            <div class="flex">
                <% if current_user.likes.exists?(likeable_id: comment, likeable_type: comment.class.name)%>
                    <%= button_to like_path(comment.likes.find_by(user_id: current_user.id)), method: :delete do %>
                        <button>
                          <svg class="w-5 h-5 rounded-full fill-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                          </svg>
                        </button>
                    <% end %>
                    <p><%= comment.likes.count %> Likes</p>
                <% else %>
                      <%= button_to likes_path(comment), params: {like: {likeable_id: comment.id, likeable_type: comment.class.name}}, method: :post do %>
                        <button>
                          <svg class="w-5 h-5 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                          </svg>
                        </button>
                      <% end %>
                      <p><%= comment.likes.count %> Likes </p>
                <% end %>
            </div>
            <div class="flex hover:text-blue-500 cursor-pointer">
                <% if current_user.bookmarks.exists?(bookmarkable_id: comment.id ,bookmarkable_type: "Comment", user_id: current_user.id)%>
                    <%= button_to bookmark_path(comment.bookmarks.find_by(user_id: current_user.id)), method: :delete do %>
                      <button>
                        <svg class="w-5 h-5 rounded-full fill-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                      </button>
                    <% end %>
                    <p><%=comment.bookmarks.count%> Bookmarks</p>
                <% else %>
                     <%= button_to bookmarks_path(comment), params: {bookmark: {bookmarkable_type: comment.class.name, bookmarkable_id: comment.id}}, method: :post do %>
                      <button>
                        <svg class="w-5 h-5 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                      </button>
                    <% end %>
                    <p><%=comment.bookmarks.count%> Bookmarks</p>
                <% end %>
            </div>
            <div class="flex hover:text-blue-500 cursor-pointer">
                <%= button_to new_quote_tweet_path(@tweet), method: :get do %>
                    <button>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                    </button>
                <% end %>
                <p>Quote Tweet</p>
            </div>
        </div>
    <% end %>
    </div>
    <h2><b>Form for creating comment at bottom</b></h2>
    <div>
        <h3>Add a comment to this tweet:</h3>
        <%= form_with model: [@tweet,@tweet.comments.build] do |form| %>
            <%= form.label :body %>
            <%= form.text_field :body %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit "Post Comment"%>
        <% end %>
    </div>
</div>
