<h1>Page for showing individual tweet</h1>
<div>
    <%@username%>
    <p><b><p>@<%= @username %></p><b> said:</p>
    <p><b><em>Body:</em></b></p>
    <%= @tweet.body %>
    <div>
        <%= link_to "Edit this tweet", edit_tweet_path, method: :get %>
        <%= button_to "Delete this tweet", tweet_path, method: :delete %>
        <%= link_to "Back to home page", tweets_path %>
        <% if @tweet.likes.any? %>
            <div>
                <p><%=@tweet.likes.count%> Likes </p>
            </div>
        <% else %>
            <%= button_to "Like", likes_path(@tweet), params: {like: {likeable_type: @tweet.class.name, likeable_id: @tweet.id }}, method: :post %>
        <% end %>
    </div>
</div> 
<div>
    <div>
        <h3>Comments for this tweet:</h3>
        <div>
            <% @tweet.comments.each do |comment| %>
                <div>
                    <p>@<%= comment.user.username %></a>
                    <em><%= comment.created_at %></em>
                    <%= comment.body %>
                    <% if comment.likes.any? %>
                        <div>
                            <p><%= comment.likes.count %> Likes</p>
                        </div>
                    <% else %>
                        <%= button_to "Like Comment", new_like_path(comment), method: :post %>
                    <% end %>
                    <% if comment.user_id == current_user.id %>
                        <%= button_to "Delete comment", tweet_comment_path(@tweet, comment), method: :delete %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <h3>Add a comment to this tweet:</h3>
        <%= form_with model: [@tweet,@tweet.comments.build] do |form| %>
            <%= form.label :body %>
            <%= form.text_field :body %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit "Post Comment"%>
        <% end %>
    </div>
</div>