<h1>Page for showing individual tweet</h1>
<div>
    <%@username%>
    <p><b><%= @username %><b> said:</p>
    <p><b><em>Body:</em></b></p>
    <%= @tweet.body %>
    <%= link_to "Edit this tweet", edit_tweet_path, method: :get %>
    <%= button_to "Delete this tweet", tweet_path, method: :delete %>
    <%= link_to "Back to home page", tweets_path %>
</div> 