<!DOCTYPE html>
<html>
  <head>
    <title>XApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="flex">
    <!-- Sidebar -->
    <% if display_side_bars? %>
    <div class="w-1/5 bg-white h-screen p-4">
      <div class="mb-4">
        <a href="#" class="text-blue-500 text-2xl font-bold">Twitter</a>
      </div>
      <nav>
        <ul>
            <div class="flex items-center">
              <%= link_to tweets_path(@tweets) do %>
                <%= image_tag("home-icon.svg", class: "w-6 h-6 pt-6")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Home</a></li>
              <% end %>
            </div>
            <div class="flex items-center">
                <%= image_tag("explore-icon.svg", alt: "Explore Icon", class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Explore</a></li>
            </div>
            <div class="flex items-center">
                <%= image_tag("notifications-icon.svg", alt: "Notifications Icon",class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Notifications</a></li>
            </div>
            <div class="flex items-center">
                <%= image_tag("messages-icon.svg", alt: "Messages Icon",class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Messages</a></li>
            </div>
            <div class="flex items-center">
                <%= image_tag("bookmarks-icon.svg", alt: "Bookmarks Icon", class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Bookmarks</a></li>
            </div>
            <div class="flex items-center">
                <%= image_tag("lists-icon.svg", alt: "Lists Icon", class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Lists</a></li>
            </div>
            <div class="flex items-center">
              <%=link_to profile_path(current_user.profile) do %>
                <%= image_tag("profile-icon.svg", alt: "Profile Icon", class: "w-6 h-6 pb-3")%>
                <li class="mb-2"><a href="#" class="text-gray-700 hover:text-blue-500">Profile</a></li>
              <% end %>
            </div>
            <div class="flex items-center">
                <%= image_tag("more-icon.svg", alt: "More Icon", class: "w-6 h-6 pb-3")%>
                <li><a href="#" class="text-gray-700 hover:text-blue-500">More</a></li>
            </div>
        </ul>
      </nav>
      <%= button_to "Tweet", new_tweet_path, method: :get, class: "mt-4 w-full bg-blue-500 text-white py-2 rounded" %>
    </div>
    <% end %>
    <%= yield %>
     <!-- Who To Follow -->
     <% if display_side_bars? %>
    <div class="w-1/4 p-4">
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-bold mb-4">Who To follow</h2>
        <% @profiles.each do |profile| %>
          <div class="rounded-lg flex mt-2">
            <%= image_tag(profile.profile_photo, class: "w-8 h-8 rounded-full")%>
            <%= link_to profile_path(profile) do %>
              <%= profile.user.username%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    </div>
  </body>
</html>
